
# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock
debs/
dmtr_*.snap

# Directory created by dartdoc
doc/api/

# dotenv environment variables file
.env*

# Javascript files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies

# Compiled app
dmtr

