#!/usr/bin/make -f

DEBDIR=debs
DEB_BUILD_OPTIONS=nostrip

%:
	dh $@

override_dh_auto_install:
	dh_auto_install -- prefix=/usr PREFIX=/usr

override_dh_builddeb:
	dh_builddeb $@ --destdir="$(DEBDIR)"

