[Desktop Entry]
Name=dmtr
Comment=System ping wrapper for network diagnostic (ncurses version)
Exec=dmtr
Icon=${SNAP}/meta/gui/dmtr.png
Terminal=false
Type=Application
Categories=Utility
